.message_user_wrapper {
  display: flex;
  justify-content: flex-end;
}

.message_server_wrapper {
  display: flex;
  justify-content: flex-start;
}

.message_user {
  max-width: 75%;
  padding: 8px 12px;
  border-radius: 12px;
  background-color: #1e3a8a;
}

.message_server {
  max-width: 75%;
  padding: 8px 12px;
  border-radius: 12px;
  background-color: #2e2e2e;
}
