.message_user_wrapper {
  display: flex;
  justify-content: flex-end;
}

.message_server_wrapper {
  display: flex;
  justify-content: flex-start;
}

.message_user {
  max-width: 75%;
  padding: 8px 12px;
  border-radius: 12px;
  /* background-color: #3b82f6; */
  background-color: #1e3a8a;
  color: white;
}

.message_server {
  max-width: 75%;
  padding: 8px 12px;
  border-radius: 12px;
  /* background-color: #e5e7eb; */
  /* color: black; */
  background-color: #2e2e2e;
  color: #f1f1f1;
}
